/*
~~~~~~~~~~~~~~~~~~INSTRUCTIONS~~~~~~~~~~~~~~~~~~
Do not touch this file
~~~~~~~~~~~~~~~~~~~~~NOTES~~~~~~~~~~~~~~~~~~~~~~
Cascading styles sheet for the application, credit given with website links when outside resources used
*/

a{
  text-decoration: none;
}

body {
	font-family: Helvetica; 
  margin: 0;
}

.genreContainer {
  display: flex;
  flex-wrap: wrap;
}

.genreButton{
  width: 50%;
  height: 25vh;
  color:black;
  font-size: 5vw;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: 1000ms;
}
.genreButton:hover{
  transition: 100ms;
  transform: scale(0.95);
}

@keyframes animateIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animateIn{
  animation:animateIn 1s forwards;
  opacity:0;
}

.animateIn.d1{
  animation-delay: 200ms;
}
.animateIn.d2{
  animation-delay: 300ms;
}
.animateIn.d3{
  animation-delay: 400ms;
}
.animateIn.d4{
  animation-delay: 500ms;
}
.animateIn.d5{
  animation-delay: 600ms;
}
.animateIn.d6{
  animation-delay: 700ms;
}
.animateIn.d7{
  animation-delay: 800ms;
}
.animateIn.d8{
  animation-delay: 900ms;
}